@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";
* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}
::-webkit-scrollbar {
  width: 0; /* width 0 rakhne se scrollbar nazar nahi aayega */
  height: 0; /* horizontal scrollbar ke liye */
}

/* Optional: scrollbar track aur thumb ko bhi hide karna */
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
